/* -------------------- Generale -------------------- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

/* -------------------- Header -------------------- */

header {
  overflow: hidden;
  background-color: #0E3CBD;
}

header a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border: 2px solid white;
  margin: 5px 10px;
  font-weight: bold;
}

header span#logo {
  height: 100%;
  color: white;
  font-size: 50px;
}

header a:hover {
  background-color: dodgerblue;
  color: black;
}

header a.active {
  background-color: dodgerblue;
  color: white;
}

#header-right {
  float: right;
}

#icona {
  display: none;
}

.menu-link {
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 1035px) {
  #header-right {
    float: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

@media screen and (max-width: 800px) {
  #header-right {
    float: none;
    display: none;
  }

  .menu-link {
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
  }

  #icona {
    float: right;
    display: block;
    cursor: pointer;
  }
}

/* -------------------- Accedi ---------------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
  color: #000;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
}

.chiusura {
  position: absolute;
  right: 200px;
  top: 80px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.chiusura:hover,
.chiusura:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  color: black;
  text-align: center;
}

span.password {
  float: right;
  padding-top: 16px;
}

.modal-link {
  float: none;
  color: black;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  font-size: 15px;
  line-height: 20px;
  border: none;
  font-weight: 400;
}

.modal-link:hover {
  color: blue;
}

@media screen and (max-width: 300px) {
  span.password {
    display: block;
    float: none;
  }

  .cancellaButton {
    width: 100%;
  }
}

/* -------------------- Titolo -------------------- */

.titolo {
  height: 90px;	
  overflow: hidden;
  position: relative;
}
.titolo p {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
  /* Starting position */
  -moz-transform:translateX(-100%);
  -webkit-transform:translateX(-100%);	
  transform:translateX(-100%);
  /* Apply animation to this element */	
  -moz-animation: scroll-right 10s linear infinite;
  -webkit-animation: scroll-right 10s linear infinite;
  animation: scroll-right 10s linear infinite;
  }
  /* Move it (define the animation) */
  @-moz-keyframes scroll-right {
    0% { 
      -moz-transform: translateX(-100%); 
    }
    100% { 
      -moz-transform: translateX(100%); 
    }
  }
  @-webkit-keyframes scroll-right {
    0% { 
      -webkit-transform: translateX(-100%); 
    }
    100% { 
      -webkit-transform: translateX(100%); 
    }
  }
  @keyframes scroll-right {
    0% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 		
    }
    100% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
  }
}

/* -------------------- Slideshow -------------------- */

.in-primo-piano {
  position: relative;
  margin: auto;
}

.immagine {
  display: none;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.immagine #img1 {
  margin-top: -500px;
  margin-left: -300px;
}

.immagine #img3 {
  margin-top: -400px;
  margin-left: -300px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* -------------------- Contenuto della pagina -------------------- */

.titolo {
  width: 100%;
  text-align: center;
}

.main-container {
  display: flex;
}

.main-container section {
  width: 70%;
}

article {
  display: flex;
  padding: 50px 10px;
}

.img-articolo {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

.articolo {
  padding: 0 20px 20px 20px;
}

.titolo-articolo {
  font-size: 25px;
}

span {
  font-style: italic;
}

/* -------------------- Sidebar -------------------- */

aside {
  width: 30%;
  height: 650px;
  border: 2px solid black;
  text-align: center;
}

img#mappa {
  width: 98%;
  height: 98%;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  article {
    display: block;
    padding: 25px 75px;
  }

  .img-articolo {
    width: 100%;
    height: auto;
  }

  section {
    width: 70%;
  }

  aside {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

/* -------------------- Newsletter -------------------- */

form {
 border: 4px solid #f1f1f1;
 background-color: #0E3CBD;
 color: white;
 text-align: center;
}

.container {
 padding: 20px;
 width: 50%;
 margin: 0 auto;
}

input[type=text], input[type=submit] {
 width: 100%;
 padding: 12px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;
}

input[type=checkbox] {
 margin-top: 16px;
}

input[type=submit] {
 background-color: #4CAF50;
 color: white;
 border: none;
}

input[type=submit]:hover {
 opacity: 0.8;
}

/* -------------------- Footer -------------------- */

footer {
  margin-top: 100px;
  background-color: #666666;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 100px;
}

.left-footer {
  width:50%;
  float: left;
}

.right-footer {
  width: 50%;
  float: right;
}

.sitemap {
  list-style-type: none;
}

.sitemap li a {
  text-decoration: underline;
  color: white;
}

.icone {
  display: inline-flex;
}

.icona-social {
  background-color: blue;
  margin: 1px solid black;
  padding: 10px;
  margin: 0px 10px;
}

.icona-social a { 
  color: black;
  font-size: 30px;
}

/* -------------------- Mission -------------------- */

.left-section {
  width:50%;
  float: left;
  margin: 0 auto;
  padding: 40px;
}

.right-section {
  width: 50%;
  float: right;
  font-size: 1.2em;
}

.right-section p {
  width: 80%;
}

.left-section > img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#mission {
  width: 100%;
  height: 500px;
  padding-bottom: 50px;
}

/* -------------------- Contatti -------------------- */

#contatti {
  background-color: #C4C4C4;
  margin-bottom: 100px;
  padding: 50px;
}

.input {
  background-color: #5E5E5E;
}

.contenitore-input {
  width: 70%;
  margin: 0 auto;
}

.contenitore-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

label {
  font-weight: bold;
  margin: 20px;
}

.contenitore-grid label input, textarea {
  color: white;
}

textarea {
  width: 100%;
  height: 200px;
}

.invia {
  background-color: #259FDE;
  color: white;
  width: 150px;
  height: 50px;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.submit {
  padding: 20px;
}

/* -------------------- Team -------------------- */

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

#team {
  background-color: #C4C4C4;
  margin-bottom: 100px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}

.card img {
  width: 200px;
  height: 200px;
  background-color: #5E5E5E;
}

.card {
  margin: 50px 30px;
}

.social-cards {
  display: flex;
}

.social-card {
  background-color: blue;
  margin: 1px solid black;
  padding: 10px;
  margin: 0px 10px;
}

.social-card a { 
  color: black;
}